<!-- center div content horizontally using tailwind -->
<div class="flex justify-center py-5">
  <div class="w-1/2">
    <.header>SmartForm examples</.header>
    <div>
      Click to see
      <.link class="underline" href={~p"/hello_world"}>Hello World</.link>
    </div>
  </div>
</div>
